* {
    box-sizing: border-box;
}

/* body */
body{
    background-image: url("../build/photos/dark_bkgd.png");
    background-size: cover;
  }
/* left section */


  #about_letters{
    font-family: 'Archivo Black', cursive;
    font-size: 5em;
    text-transform: uppercase;
    
  }
