html{ 
    box-sizing: border-box;
    overflow-x: hidden;
}

/* vertical words */
 #turned{
    color: rgb(6, 58, 58);
    font-family: 'Kavoon', cursive;
   text-transform: uppercase;
   font-weight: 900;
    writing-mode: vertical-lr;
   text-orientation: mixed;
    position: relative;
    font-size: 9.92vh;
    line-height: 21;
    white-space: nowrap;
    transform: translateX(-2%);
    display: block;
}

/* welcome page */

.welcome {
  /* font-family: Georgia, cursive;  figure out font*/
  background: rgb(6, 58, 58);
  transition: opacity .5s ease-out;
  height: 100vh;
  font-size: 20vh;
  color: #fff;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.w, .e, .l, .c, .o, .m, .e2 {
  animation: showLetter 1s ease-in-out forwards;
  opacity: 0;
  position:relative;
}

@keyframes showLetter {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.w {
  animation-delay: 0s;
}

.e {
  animation-delay: 0.2s;
}

.l {
  animation-delay: 0.4s;
}

.c {
  animation-delay: 0.6s;
}

.o {
  animation-delay: 0.8s;
}

.m {
  animation-delay: 1s;
}

.e2 {
  animation-delay: 1.2s;
}